@import url(//db.onlinewebfonts.com/c/03bd7255184e8e8ad4d2a521fa920b6c?family=PolySans+Neutral);
@font-face {
  font-family: "PolySans Neutral";
  src: url("//db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.eot");
  src: url("//db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/03bd7255184e8e8ad4d2a521fa920b6c.svg#PolySans Neutral")
      format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: PolySans, system-ui, sans-serif;
  }
  q,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tracking-tight leading-5;
  }
  .img {
    @apply w-full h-full object-cover;
  }
  .landing_mesh {
    @apply w-full h-full absolute top-0 left-0 bg-landing-mesh z-0;
  }
  .landingAfter {
    @apply w-full h-full absolute  left-0 bg-right_image bg-no-repeat;
  }
  .landingBefore {
    @apply w-full h-full absolute  right-0 bg-left_image bg-no-repeat;
  }
}
